<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/navbar.ejs') %>
      <%- include('../partials/sub-header.ejs') %>


        <div class="row text-center">
          <% for(var i=0; i < arr.length-2; i++) { %>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <a href="/productDetails/<%= arr[i]._id %> " class="">
                <div class="image">
                  <a href="/productDetails/<%= arr[i]._id %>"><img src="<%= arr[i].image_url %>" alt="" height="220" /></a>
                  </div>
                  <div class="text mb-2">
                    <a href="/productDetails/<%= arr[i]._id %>" class="text-decoration-none text-dark">
                      <%= arr[i].name %>
                    </a>
                    </div>
                    <div class="price">
                      <span class="fw-bold">
                        <%= arr[i].price %>
                      </span>
                    </div>
              </a>
            </div>
            <% } %>
        </div>

        <%- include('../partials/footer.ejs') %>
  </body>

</html>